* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

img {
  vertical-align: middle;
  width: 100%;
}

/* Slideshow container */
.carousel-container {
  width: 800px;
  position: relative;
  margin: auto;
  height: 800px;
}

/* Next & previous buttons */
.previous {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  font-size: 25px;
  top: 30%;
  left: 10px;
  font-weight: 700;
  color: white;
}

.next {
  right: 10px;
  position: absolute;
  cursor: pointer;
  font-size: 25px;
  z-index: 10;
  top: 30%;
  color: white;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit seethrough */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.navigation-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.navigation-dot:hover {
  background-color: #717171;
}
